/* -------------------- General -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #111;
  line-height: 1.6;
}

/* -------------------- NAV + HERO -------------------- */
.hero {
  background: url("../images/hero/background.jpg") center/cover no-repeat;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  z-index: 10;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav a {
  font-family: "Nexa Rust Sans";
  color: #f7d37c;
  text-decoration: none;
  letter-spacing: 0.9px;
  font-size: 15px;
  font-weight: bold;
}

.logo {
  font-family: "Bangers";
  font-size: 28px;
  letter-spacing: 1.5px;
  color: #f7d37c;
}

.hero-container {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding: 0 60px;
  height: 100%;
  gap: 40px;
}

.hero-content {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.hero-content h1 {
  color: #f7d37c;
  font-size: 45px;
  font-family: "De Latto";
  margin-bottom: 10px;
  letter-spacing: 4px;
  line-height: 2;
  max-width: 700px;
}

.hero-content p {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 90px;
  max-width: 480px;
}

.hero-image {
  flex: 0.9;
  z-index: 5;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  padding: 12px 25px;
  background: #d4a017;
  color: black;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}
